<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net1314080903128.homeworks.androidworks.hzuapps.edu.net1314080903128">

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/net1314080903128timer"
        android:label="@string/app_name" >
        <activity
            android:name=".Net1314080903128Activity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.huazi.MyTimer.StartActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>