<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passwordbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.passwordbox.Com1314080901208"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- 这里是activity2 -->
        <activity
            android:name="com.example.passwordbox.activity2"
            android:label="activity2">
             <intent-filter>
                 <!-- 在<action> 标签中我们指明了当前活动可以响应com.example.passwordbox.ACTION_START 这个action -->
                  <action android:name="com.example.passwordbox.ACTION_START" />
                  <category android:name="android.intent.category.DEFAULT" />
                  <category android:name="android.intent.category.MY_CATEGORY" />
             </intent-filter>
        </activity>
         <!-- 这里是 register-->
        <activity
            android:name="com.example.passwordbox.Register"
            android:label="Register">
        </activity>
         <!-- 这里是 AddAcount-->
        <activity
            android:name="com.example.passwordbox.AddAcount"
            android:label="AddAcount">
        </activity>
        
         <!-- 这里是 AcountListView-->
        <activity
            android:name="com.example.passwordbox.AcountListView"
            android:label="AcountListView">
        </activity>
        <!-- 这里是 AcountDetails-->
        <activity
            android:name="com.example.passwordbox.AcountDetails"
            android:label="AcountDetails">
        </activity>
    </application>

</manifest>
